<!--
RBE 502 - Project GARY
- Nolan Poulin
- Last Updated: 12/5/16

Summary:
========
Blah blah blah

Execution:
==========
roslaunch rbe502code pathPlanner.launch
-->
<launch>

<!--Start the basic AzCar_Sim-->
  <include file="$(find azcar_sim)/launch/azcar_skidpan.launch">
  </include>
<!--Start Our RViz Configuration-->
  <node pkg="rviz"
        type="rviz" name="rviz"
        args="-d $(find rbe502code)/rbe502.rviz"/>

  <!--Start Our Map Server Configuration
  Note that this might not be the most effectiveway to use the map server.
  I'm pretty new to this.-->
  <arg name="map_file" default="$(find rbe502code)/maps/shapes.yaml"/>

  <!-- Run the map server -->
  <node name="map_server" pkg="map_server"
        type="map_server" args="$(arg map_file)" />
  <!-- Broadcast a transform between Map and azcar_sim/odom -->
  <node pkg="rbe502code" type="base2MapBroadcaster.py"
        name="broadcaster_fixed2map" />
  <!--<node pkg="rbe502code" type="carPathPlanning.py"
        name="carPathPlanning" />-->
</launch>